<!DOCTYPE html>
<html lang="en">
<head>
  <title>Engineering Activity</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

   <style>
       {% include 'css/style.css' %}


   </style>

</head>
<body>

{% include 'nav.html' %}

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <aside class="nav-list">
              <h6 class="dropdown-header">Cotegeries</h6>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>

            </aside>

        </div>
        <div class="col-md-8">

              <h3>Collapsible Navbar</h3>
              <p>In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).</p>
              <p>Only when the button is clicked, the navigation bar will be displayed.</p>
              <p>Tip: You can also remove the .navbar-expand-md class to ALWAYS hide navbar links and display the toggler button.</p>
        </div>
        <div class="col-md-2">

            Right sdfdfds

        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>


